<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ana Sayfa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MvcProjeWeb.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="~/js/scriptlanguage1.js"></script>
</head>
<body style="background-color:bisque">
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm  bg-white border-bottom box-shadow mb-3">

            <div class="container-fluid">
                <button class="navbar-toggler " style="background-color: gray;" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"> </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="dropdown ms-3" style="color:blue;">
                            <a class="btn btn-secondary dropdown-toggle" type="button" id="drop_yazı" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-user me-2"></i>
                                Türkçe
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" id="tr" href="#">Türkçe</a></li>
                                <li><a class="dropdown-item" id="en" href="#">English</a></li>
                            </ul>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                        </li>
                        <li class="nav-item  " style="color:blue;">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Hakkında">Hakkında</a>
                        </li>
                        <li class="nav-item" style="color:blue;">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="iletisim">İletişim</a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("admin"))
                            {


                                <li class="nav-item ms-a">
                                    <a class="nav-link" asp-action="Index" asp-controller="Admin" class="dropdown-item">Admin</a>
                                </li>

                            }

                            <li class="dropdown ms-auto" style="color:blue;">
                                <a class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" asp-area="" asp-controller="Account" asp-action="Profile">
                                    <i class="fa-solid fa-user me-2"></i>
                                    @User.FindFirst("Username").Value
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-area="#" asp-controller="Account" asp-action="Profile">Profili Düzenle</a></li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Çıkış Yap</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item ms-auto">
                                <a class="nav-link " asp-area="" asp-controller="Account" asp-action="Login"> <i class="fa-solid fa-right-to-bracket me-2"></i>Giriş Yap</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Account" asp-action="Register"> <i class="fa-solid fa-user me-2"></i>Üye Ol</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- Footer -->
    <hr />
    <footer class="footer">
        <div class="container-fluid">
            <div class="footer__instagram">
                <div class="footer__instagram__avatar">
                    <div class="footer__instagram__avatar--text">
                        <h5 key =46>Yemek Tarif Sitesi</h5> <br />
                        <p key=47 style="font-size:20px">
                            Tüm hakları saklıdır &copy;<br />
                            Project @DateTime.Now.Year
                        </p>
                    </div>
                </div>

            </div>
        </div>
        </div>

        </div>
    </footer>
    @*  <footer>
    <div class="bg-dark text-light text-center">

    <p class="align-middle p-2 mb-0">
    <span> Tüm haklari saklidir © | 2022 </span><br>
    <span> Yemek Tarfilerim </span>

    </p>
    </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

