@{
    ViewData["Title"] = "AccessDenied";
}


<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2" key=48>Erişim Engellendi</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <h1 class="text-danger text-center"> <i class="fa-solid fa-ban fa-3x"></i> </h1>
        <p class="text-center" key=49 style="font-size:20px">İlgili sayfaya erişiminiz yoktur.Lütfen <a class="nav-link " asp-area="" asp-controller="Account" asp-action="Register"> <i class="fa-solid fa-user me-2"></i>Üye Ol</a>.</p>
    </div>
</div>