<html >

<head>

    <meta charset="utf-8">

    <!-- Bootstrap core CSS -->
    <link href="~/templatemo/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--

    TemplateMo 546 Sixteen Clothing

    -->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/templatemo/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/templatemo/assets/css/templatemo-sixteen.css">
    <link rel="stylesheet" href="~/templatemo/assets/css/owl.css">

</head>
<body>
    <div class=" header-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <center><h1 key=2 style="color:coral">Hakkımızda</h1></center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="best-features about-features">
        <div class="container">
            <div class="row">            
                <div class="col-md-12">
                    <div class="left-content">
                        <h1 key=3 style="color:coral">Biz Kimiz</h1> <br></br>
                        <p key=44 style="font-size:25px">Ben Ebubekir Mert. Sakarya Üniveristesi Bilgisayar Mühendisliği okuyorum.</p>
                        <hr />
                        <p key=45 style="font-size:25px">Ben Elman Muradov. Sakarya Üniveristesi Bilgisayar Mühendisliği okuyorum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


  
    <script language="text/Javascript">
        cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
        function clearField(t) {                   //declaring the array outside of the
            if (!cleared[t.id]) {                      // function makes it static and global
                cleared[t.id] = 1;  // you could use true and false, but that's more typing
                t.value = '';         // with more chance of typos
                t.style.color = '#fff';
            }
        }
    </script>

</body>

</html>

@*<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/~/cookingrecipewebtemplate/css/bootstrap.min.css">
     <link rel="stylesheet" href="~/cookingrecipewebtemplate/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/cookingrecipewebtemplate/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/cookingrecipewebtemplate/css/magnific-popup.css">
    <link rel="stylesheet" href="~/cookingrecipewebtemplate/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/cookingrecipewebtemplate/css/themify-icons.css">
    <link rel="stylesheet" href="~/cookingrecipewebtemplate/css/nice-select.css">
    <link rel="stylesheet" href="~/cookingrecipewebtemplate/css/flaticon.css">
    <link rel="stylesheet" href="~/cookingrecipewebtemplate/css/gijgo.css">
    <link rel="stylesheet" href="~/cookingrecipewebtemplate/css/animate.min.css">
    <link rel="stylesheet" href="~/cookingrecipewebtemplate/css/slick.css">
    <link rel="stylesheet" href="~/cookingrecipewebtemplate/css/slicknav.css">
    <link rel="stylesheet" href="~/cookingrecipewebtemplate/css/style.css">
</head>
<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- bradcam_area  -->

    <!-- recepie_header_area  -->
    <div class="recepie_header_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="recepie_text text-center">
                        <h1>
                            Hakkımızda
                        </h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ recepie_header_area  -->



    <script src="~/cookingrecipewebtemplate/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/cookingrecipewebtemplate/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/cookingrecipewebtemplate/js/popper.min.js"></script>
    <script src="~/cookingrecipewebtemplate/js/bootstrap.min.js"></script>
    <script src="~/cookingrecipewebtemplate/js/owl.carousel.min.js"></script>
    <script src="~/cookingrecipewebtemplate/js/isotope.pkgd.min.js"></script>
    <script src="~/cookingrecipewebtemplate/js/ajax-form.js"></script>
    <script src="~/cookingrecipewebtemplate/js/waypoints.min.js"></script>
    <script src="~/cookingrecipewebtemplate/js/jquery.counterup.min.js"></script>
    <script src="~/cookingrecipewebtemplate/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/cookingrecipewebtemplate/js/scrollIt.js"></script>
    <script src="~/cookingrecipewebtemplate/js/jquery.scrollUp.min.js"></script>
    <script src="~/cookingrecipewebtemplate/js/wow.min.js"></script>
    <script src="~/cookingrecipewebtemplate/js/nice-select.min.js"></script>
    <script src="~/cookingrecipewebtemplate/js/jquery.slicknav.min.js"></script>
    <script src="~/cookingrecipewebtemplate/js/jquery.magnific-popup.min.js"></script>
    <script src="~/cookingrecipewebtemplate/js/plugins.js"></script>
    <script src="~/cookingrecipewebtemplate/js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="~/cookingrecipewebtemplate/js/contact.js"></script>
    <script src="~/cookingrecipewebtemplate/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/cookingrecipewebtemplate/js/jquery.form.js"></script>
    <script src="~/cookingrecipewebtemplate/js/jquery.validate.min.js"></script>
    <script src="~/cookingrecipewebtemplate/js/mail-script.js"></script>

    <script src="~/cookingrecipewebtemplate/js/main.js"></script>
</body>*@