
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<section class="tou-head">
    <div class="container">
        <div id="breadcrumb_wrap"></a><meta itemprop="position" content="2"></span></div>
    </div>
    <h1 class="title text-center">Hakkında</h1>
    </div>
</section>
<section class="tou-content">
    <div class="container">
        <article class="content">
            <p>Nefis Yemek Tarifleri 2007 yılından beri özgün içeriği ve detaylı tarif anlatımlarıyla yayınına devam etmektedir.</p>
            <p>İsteyen herkesin kendi yaptığı ve fotoğrafladığı tarifi gönderebileceği bir platform olan Nefis Yemek Tarifleri on binlerce yazarın katkı sağladığı dünyanın en çok takip edilen Türkçe yemek tarifi paylaşım platformudur.</p>
            <p>Şu anda nefisyemektarifleri.com internet sitesi, <a href="https://www.nefisyemektarifleri.com/pub/yonlendir/?yonlen=https://play.google.com/store/apps/details?id=com.nefisyemektarifleri.android&amp;referrer=utm_source%3Dnytweb%26utm_medium%3Dhakkinda%26utm_campaign%3Dhakkinda_link" target="_blank" rel="nofollow noopener noreferrer">Android</a>, <a href="https://www.nefisyemektarifleri.com/pub/yonlendir/?yonlen=https://apps.apple.com/app/apple-store/id947863045?pt=52164800&amp;ct=web-hakkinda&amp;mt=8" target="_blank" rel="nofollow noopener noreferrer">iOS</a>, <a href="https://www.nefisyemektarifleri.com/pub/yonlendir/?yonlen=https://apps.apple.com/app/apple-store/id947863045?pt=52164800&amp;ct=web-hakkinda-ios&amp;mt=8" target="_blank" rel="nofollow noopener noreferrer">iPad</a> ve <a href="https://www.nefisyemektarifleri.com/pub/yonlendir/?yonlen=https://play.google.com/store/apps/details?id=com.nefisyemektarifleri.android&amp;referrer=utm_source%3Dnytweb%26utm_medium%3Dhakkinda%26utm_campaign%3Dhakkinda_link_androidtv" target="_blank" rel="nofollow noopener noreferrer">AndroidTV</a> uygulamalarıyla olabilecek her yerden ulaşabileceğiniz şeklide 700bin’den fazla tarifi kullanıcılarına ulaştırmaktadır.</p>
            <p>Nefis Yemek Tarifleri’nin en büyük farkı tamamen <strong>gerçek kullanıcılar</strong> tarafından yapılmış tariflerin yayınlanmasıdır. Böylece tarifleri yapacak kişiler gönül rahatlığıyla sitemizdeki tarifleri yapabilmekte ve başarılı sonuçlar almaktadır.</p>
            <p>Oluşturduğunuz tarif defterleri ile artık fiziksel defter tutmanıza gerek kalmamakta.</p>
            <p>Ayrıca tariflerde yorumlar, tarifi deneyen diğer kullanıcıların fotoğrafları ilgili tarifin yapıldığında neye benzeyeceği konusunda çok detaylı bir şekilde bilgi vermektedir.</p>
            <p>Bu platformun büyümesinde katkısı olan başta yazarlarımız olmak üzere tüm kullanıcılarımıza teşekkürler. </p>
            <p>Afiyet olsun :)</p>
            <p>Sosyal medya hesaplarımızı takibe almayı unutmayın;</p>
            <ul class="social-list">
                <li><a title="YouTube" target="_blank" rel="nofollow noopener noreferrer" href="https://www.nefisyemektarifleri.com/pub/yonlendir/?yonlen=https://www.youtube.com/user/NefisYemekTarifleri/"><img src="https://mn.nytcdn.com/wp-content/themes/nytheme/dist/assets/img/svg/youtube(1).svg" alt="youtube" width="31" height="31" data-lazy-loaded="true"> Youtube</a></li>
                <li><a title="Facebook" target="_blank" rel="nofollow noopener noreferrer" href="https://www.nefisyemektarifleri.com/pub/yonlendir/?yonlen=https://www.facebook.com/nefisyemektarifleri/"><img src="https://mn.nytcdn.com/wp-content/themes/nytheme/dist/assets/img/svg/facebook(1).svg" alt="facebook" width="31" height="31" data-lazy-loaded="true"> Facebook</a></li>
                <li><a title="Twitter" target="_blank" rel="nofollow noopener noreferrer" href="https://www.nefisyemektarifleri.com/pub/yonlendir/?yonlen=https://twitter.com/NefisYT/"><img src="https://mn.nytcdn.com/wp-content/themes/nytheme/dist/assets/img/svg/twitter(1).svg" alt="twitter" width="31" height="31" data-lazy-loaded="true"> Twitter</a></li>
                <li><a title="Instagram" target="_blank" rel="nofollow noopener noreferrer" href="https://www.nefisyemektarifleri.com/pub/yonlendir/?yonlen=https://www.instagram.com/nefisyemektarifleri/"><img src="https://mn.nytcdn.com/wp-content/themes/nytheme/dist/assets/img/png/instagram.png" alt="instagram" width="31" height="31" data-lazy-loaded="true"> Instagram</a></li>
                <li><a title="Pinterest" target="_blank" rel="nofollow noopener noreferrer" href="https://www.nefisyemektarifleri.com/pub/yonlendir/?yonlen=https://www.pinterest.com/nefisyemektarifleri/"><img src="https://mn.nytcdn.com/wp-content/themes/nytheme/dist/assets/img/svg/pinterest.svg" alt="pinterest" width="31" height="31" data-lazy-loaded="true"> Pinterest</a></li>
            </ul>
        </article>
    </div>
</section>