
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
</head>
<body style="background-color: #d9d9e3;">

    <div class="container">
        <div class="row">
            
            <div class="col-md-6">
                <br><br>
                <div class="card" style="">
                    <img src="~/Resimler/profil.jpg" class="card-img-top" alt="Elman Muradov">
                    <div class="card-body">

                        <p class="card-text">
                            Merhaba,ben Elman Muradov.2002 yilinda Bakü'de doğdum.Şu an 20 yaşindayim.
                            Aslen Azerbaycanliyim fakat sonradan Türkiye vatandaşliği da alarak çifte vatandaş olduk.
                            Annem kimya bölümünden , babam ise işletme bölümünden mezun.
                        </p>
                        <p>
                            2008 yilina kadar Azerbaycan'da yaşiyorduk fakat sonradan ailecek Türkiye'ye (Düzce iline ) taşindik ve
                            14 yildir Düzce'nin bir ilçesi olan Cumayerinde yaşiyoruz.Ailemiz 4 kişlik bir çekirdek aile.Bir tane de ufak erkek kardeşim var.
                            Türkiye de babam bir oyun salonu işletiyor annem ise ilk zamanlar çalişmamasina rağmen sonradan işe girdi.
                            Azerbaycana  genellikle yaz   tatillerinde gidiyoruz ayrica ordan akrabalarimizin  da bizi ziyarete geldiği oluyor.Çocukluğumdan beri burda olduğum
                            için gerekse dil gerekse sosyal konularda hiç yabancilik çekmedim diyebilirim.
                        </p>
                        <p>
                            Ben pek sosyal biri değilim yani arkadaşlarimla sık sık buluşup etkinlik yapmaktan hoşlanmam,fakat belli arakadaş gruplarimla sık sık olmasa da  belli
                            zaman araliklarinda  buluşmaktan da hoşlanmiyor değilim.En çok hoşuma giden spor dali futbol gerçekten hem izlemeyi hem oynamayi çok seviyorum .
                            boş zamanlarimda ise sosyal medyada zaman geçiriyorum.Okul hayatim Düzce de geçti.2020 yilinda ise  mezun olarak Sakarya Üniversitesine yerleştim.Şuan
                            Sakarya Üniversitesinde okumaya devam ediyorum
                        </p>
                    </div>


                </div>

            </div>

            <div class="col-md-6">
                <br><br>
                <div class="card" style="width: 30rem; ">

                    <img src="~/Resimler/ebubekir.jpg" class="card-img-top" alt="Ebubekir Mert">
                    <div class="card-body">

                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>

                </div>


                </nav>
            </div>

        </div>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>