@model IEnumerable<Yemekler>

<html>

<head>

    <meta charset="utf-8">

    <style>
        .metin {
            width: px;
            word-wrap: break-word;
        }
    </style>

    <!-- Bootstrap core CSS -->
    <link href="~/templatemo/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/templatemo/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/templatemo/assets/css/templatemo-sixteen.css">
    <link rel="stylesheet" href="~/templatemo/assets/css/owl.css">

</head>

<body>

    <div class="banner ">
        <h1 key=1 style="color:coral">Yemek Tarifleri</h1>
    </div>
    <div class="banner ">
        <div class="owl-banner owl-carousel" style="width:100%">
            @foreach (var item in Model)
            {
                <a asp-action="FoodDetail" asp-route-foodid="@item.id"><img src="/Resimler/@(item.yemekIsmi).jpg" alt=""></a>
            }
        </div>

    </div>
    <!-- Banner Ends Here -->

    <div class="latest-products">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="product-item" style="background-color:white">
                            <a href="#"><img src="/Resimler/@(item.yemekIsmi).jpg" alt=""></a>
                            <div class="down-content">
                                <a asp-action="FoodDetail" asp-route-foodid="@item.id"><h4>@item.yemekIsmi</h4></a>
                                <p class="metin">@item.YemekTarifi</p>
                            </div>

                        </div>
                    </div>
                }
                <article>
                </article>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="~/templatemo/vendor/jquery/jquery.min.js"></script>
    <script src="~/templatemo/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="~/templatemo/assets/js/custom.js"></script>
    <script src="~/templatemo/assets/js/owl.js"></script>
    <script src="~/templatemo/assets/js/slick.js"></script>
    <script src="~/templatemo/assets/js/isotope.js"></script>
    <script src="~/templatemo/assets/js/accordions.js"></script>




</body>

</html>

