
<html lang="tr">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="list-group-item list-group-item-secondary" <span="" style="font-size: 60px; color:#39393c; border:5px double black; "><center>Şefin Spesiyalleri</center>
      </div>
            <div class="col-md-4">
              
            </div>
            <div class="col-md-8">
                <div class="card-group">
                    <div class="card">
                        <img src="img/bonfile.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <a><i class="fa-solid fa-star"></i></a>
                            <a><i class="fa-solid fa-comment"></i></a>

                        </div>
                    </div>
                    <div class="card">
                        <img src="img/bonfile.jpg" class="card-img-top" alt="...">

                        <div class="card-body" style="background-color:#c2c8c9;">
                            <h5 class="card-title">Bonfile</h5>
                            <a asp-asp-controller="Home" asp-action="Bonfile" target="_blank">
                                <input type="button" class="btn btn-dark" value="Tarifi Goruntule">
                            </a>
                            <p class="card-text"><small class="text-muted">15 saat önce guncellendi</small></p>
                            <button class="card-text">
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                                    </svg>
                                </i>
                            </button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="img/kuzu-tandir.jpg" class="card-img-top" alt="...">
                        <div class="card-body" style="background-color:#c2c8c9;">
                            <h5 class="card-title">Kuzu Tandir</h5>
                            <a href="#" target="_blank">
                                <input type="button" class="btn btn-dark" value="Tarifi Goruntule">
                            </a>
                            <p class="card-text"><small class="text-muted">22 saat önce guncellendi</small></p>
                            <button>
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                                    </svg>
                                </i>
                            </button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="img/W7AHOK86.jpg" class="card-img-top" alt="...">
                        <div class="card-body" style="background-color:#c2c8c9;">
                            <h5 class="card-title">Cag Kebabi</h5>
                            <a href="#" target="_blank">
                                <input type="button" class="btn btn-dark" value="Tarifi Goruntule">
                            </a>
                            <p class="card-text"><small class="text-muted">5 gun önce guncellendi</small></p>

                            <button>
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                                    </svg>
                                </i>
                            </button>


                        </div>
                    </div>
                </div>
                <div class="card-group">
                    <div class="card">
                        <img src="img/kabak-tatlisi.jpg" class="card-img-top" alt="...">
                        <div class="card-body" style="background-color:#c2c8c9;">
                            <h5 class="card-title">Kabak Tatlisi</h5>
                            <a href="#" target="_blank">
                                <input type="button" class="btn btn-dark" value="Tarifi Goruntule">
                            </a>
                            <p class="card-text"><small class="text-muted">1 gün önce guncellendi</small></p>
                            <button>
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                                    </svg>
                                </i>
                            </button>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="img/download.jpg" class="card-img-top" alt="...">
                        <div class="card-body" style="background-color:#c2c8c9;">
                            <h5 class="card-title">Pilav Üstü Kavurma</h5>
                            <a href="#" target="_blank">
                                <input type="button" class="btn btn-dark" value="Tarifi Goruntule">
                            </a>
                            <p class="card-text"><small class="text-muted">6 gun önce guncellendi</small></p>
                            <button>
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                                    </svg>
                                </i>
                            </button>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="img/images.jpg" class="card-img-top" alt="...">
                        <div class="card-body" style="background-color:#c2c8c9;">
                            <h5 class="card-title">Patlican Kapatma</h5>
                            <a href="#" target="_blank">
                                <input type="button" class="btn btn-dark" value="Tarifi Goruntule">
                            </a>
                            <p class="card-text"><small class="text-muted">1 hafta önce guncellendi</small></p>
                            <button>
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                                    </svg>
                                </i>
                            </button>

                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="js/bootstrap.bundle.min.js"></script>

</body>
</html>
